<div class="row">
  <div id="editor" class="span6">
    <div id="toolbar" class="wmd-toolbar"></div>

    <div class="clearfix"></div>

  <!-- <button id="selectall" class="toolbutton" onclick="selectAll();">Select all preview text</button>
  <button id="copyall" class="toolbutton" onclick="copyAll();">Copy to clipboard</button> -->


    <%= form_for(@page, :html => { :class => "form form-stacked", :multipart => true } ) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :category %>
      <%= f.select(:category, ['Widget', 'Global Parameter', 'Push Parameter', 'Other Parameter'], {}, { :class => '' }) %>

      <%= f.label :body %>
      <%= f.text_area :body, id: "input", class: "wmd-input" %>

      <%= f.label :image, "Upload image" %>
      <%= f.file_field :image %>

      <%= f.label :remote_image_url, "or image url" %>
      <%= f.text_field :remote_image_url %>

      <label>Tags</label>
      <input type="text" name="tags" class="tag_list" value="<%= @tags %>">
      <div class="form-actions">
        <%= f.submit class: "btn btn-success" %>
      </div>
    <% end %>
  </div><!-- /.span -->

  <div class="span6">
    <h1 class="preview-title">Preview</h1>
    <div id="preview" class="wmd-preview well"></div>

    <h2>Current Image</h2>
    <ul class="thumbnails">
      <li class="span3">
        <a href="<%= link_to @page.image_url.to_s %>" class="thumbnail">
          <%= image_tag @page.image_url(:thumb).to_s %>
        </a>
      </li>
    </ul>
  </div><!-- /.span -->
</div><!-- /.row -->

<div class="clearfix"></div>
<!--<button id="selectall" class="toolbutton" onclick="selectAll();">Select all preview text</button>
<button id="copyall" class="toolbutton" onclick="copyAll();">Copy to clipboard</button> -->

  <!-- jQuery listener for syntax highlight -->
  <script type="text/javascript">
  $(document).ready(function() {
    //$('.tag_list').tagsInput();
    $("#highlightCode").click(function(){
      $.SyntaxHighlighter.init({
      'load': true,
      'lineNumbers': false,
      'highlight': true,
      'debug': true
      });
    });
  });
  </script>

<!-- Initialize WMD -->
<script type="text/javascript">
window.onload = function() {
  new WMD("input", "toolbar", { preview: "preview" });
  $('<i class="icon-bold"></i>').prependTo(".wmd-strong");
  $('<i class="icon-italic"></i>').prependTo(".wmd-em");
  $('<i class="websymbols">K</i>').prependTo(".wmd-a");
  $('<i class="websymbols">e</i>').prependTo(".wmd-blockquote");
  $('<i class="websymbols">H</i>').prependTo(".wmd-code");
  $('<i class="websymbols">I</i>').prependTo(".wmd-img");
  $('<i class="websymbols">q</i>').prependTo(".wmd-ol");
  $('<i class="websymbols">p</i>').prependTo(".wmd-ul");
  $('<i class="websymbols">T</i>').prependTo(".wmd-h");
  $('<i class="icon-minus"></i>').prependTo(".wmd-hr");
  $('<li class="wmd-command wmd-spacer"></li><li id="highlightCode" class="btn"><i class="icon-tint"></i></li>').insertAfter(".wmd-hr");
};
</script>