<div class="row">
  <div class="span12">
    <div class="pull-right">
      <%= link_to "All Pages", root_path, class: "btn" %>
      <%= link_to "New Page", new_page_path, class: "btn btn-success" %>
      <%= link_to "Edit Page", edit_page_path(@page), class: "btn btn-inverse" %>
      <%= link_to "Delete Page", page_path(@page), :method => :delete, class: "btn btn-danger" %>
      <%= link_to "Page History", root_path, class: "btn" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1><%= @page.title %></h1>
    <hr>
    <p><%= markdown(@page.body) %></p>
  </div>
</div>