<div class="row">
  <div class="span12">
    <div class="pull-right">
      <%= link_to "All Pages", pages_path, class: "btn" %>
      <%= link_to "New Page", new_page_path, class: "btn btn-success" %>
      <%= link_to "Edit Page", edit_page_path(@page), class: "btn btn-inverse" %>
      <%= link_to "Delete Page", page_path(@page), :method => :delete, class: "btn btn-danger" %>
      <%= link_to "Page History", history_path(@page), class: "btn" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1><%= @page.title %></h1>
    <hr>
    <p><%= markdown(@page.body) %></p>
    <ul class="thumbnails">
      <li class="span3">
        <%= link_to @page.image_url.to_s, class: "thumbnail" do %>
          <%= image_tag @page.image_url(:thumb).to_s %>
        <% end %>
      </li>
    </ul>
  </div>
</div>