<div class="row">
  <div class="span12">
    <div class="pull-right">
      <%= link_to "All Pages", pages_path, class: "btn" %>
      <%= link_to "New Page", new_page_path, class: "btn btn-success" %>
      <%= link_to "Edit Page", edit_page_path(@page), class: "btn btn-inverse" %>
      <%= link_to "Delete Page", page_path(@page), :method => :delete, class: "btn btn-danger" %>
      <%= link_to "Page History", history_path(@page), class: "btn" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1><%= @page.title %> <small><%= @page.category %></small></h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="span8">
    <%= markdown(@page.body) %>
  </div>

  <div class="span4">
    <div class="well">
      <ul class="unstyled">
        <li><strong>Last Updated:</strong> <%= @page.updated_at %></li>
        <li><strong>Created on:</strong> <%= @page.created_at %></li>
        <li><strong>Tags:</strong> <span class="tag-array">,<%= @tags %></span></li>
      </ul>
    </div>

    <h2>Image</h2>
    <ul class="thumbnails">
      <li class="span3">
        <%= link_to @page.image.url, class: "thumbnail" do %>
          <%= image_tag @page.image_url(:thumb).to_s %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var tagLabel = $('.tag-array').text().split(",").join('</span> <span class=\"label label-info\">');
    var comma = $('.tag-array').text().length;

    $(function() {
      if (comma <= 1) {
        $('.tag-array').html('No tags');
      }
      else {
        $('.tag-array').html(tagLabel);
      }
    });
  });
</script>