<div class="row">
  <div class="span6">
    <h1>New account</h1>

    <%= form_tag "/auth/identity/register", :class => "form" do %>
      <% if @identity && @identity.errors.any? %>
        <div class="alert alert-danger">
          <p><strong><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</strong></p>
          <ul>
          <% @identity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= label_tag :name %>
      <%= text_field_tag :name, @identity.try(:name) %>

      <%= label_tag :email %>
      <%= text_field_tag :email, @identity.try(:email) %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>

      <div class="form-actions">
        <%= submit_tag "Register", :class => "btn" %>
      </div>
    <% end %>
  </div>
</div>